{% extends 'watson/base.html' %}
{% block moreBody %}
<body class="bg-gradient-primary">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <h2 class="text-center">ENTRENAR MODELO KNN</h2>
                    <div class="card shadow">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <form action="{% url 'entrenar'  %}" method="POST" enctype="multipart/form-data"
                                          class="form-horizontal">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for='name'
                                                   class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
                                            <div class="col-md-8">
                                                <input type="file" name="csv_file" id="csv_file" required="True"
                                                       class="form-control">
                                            </div>
                                            <div class="col-md-auto">
                                                {{ form }}
                                            </div>
                                        </div>
                                        <button class="btn btn-primary"><span class="glyphicon glyphicon-upload"
                                                                              style="margin-right:5px;"></span>Entrenar
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="card shadow mb-4">
                                <h2 align="center" style="color: #2d4373; "><b>RESULTADOS</b></h2>
                                <style>
                                    #chartdiv {
                                        width: 100%;
                                        height: 500px;
                                    }
                                </style>
                                <div id="chartdiv"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}
{% block JSS %}
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script>
    am4core.ready(function () {
        am4core.useTheme(am4themes_animated);
        var chart = am4core.create('chartdiv', am4charts.XYChart)
        chart.colors.step = 2;
        chart.legend = new am4charts.Legend()
        chart.legend.position = 'top'
        chart.legend.paddingBottom = 20
        chart.legend.labels.template.maxWidth = 95
        var xAxis = chart.xAxes.push(new am4charts.CategoryAxis())
        xAxis.dataFields.category = 'category'
        xAxis.renderer.cellStartLocation = 0.1
        xAxis.renderer.cellEndLocation = 0.9
        xAxis.renderer.grid.template.location = 0;
        var yAxis = chart.yAxes.push(new am4charts.ValueAxis());
        yAxis.min = 0;

        function createSeries(value, name) {
            var series = chart.series.push(new am4charts.ColumnSeries())
            series.dataFields.valueY = value
            series.dataFields.categoryX = 'category'
            series.name = name
            series.events.on("hidden", arrangeColumns);
            series.events.on("shown", arrangeColumns);
            var bullet = series.bullets.push(new am4charts.LabelBullet())
            bullet.interactionsEnabled = false
            bullet.dy = 30;
            bullet.label.text = '{valueY}'
            bullet.label.fill = am4core.color('#ffffff')
            return series;
        }

        chart.data = [{
            category: 'Metricas',
            first: {{accuracy | safe}},
            second: {{recall | safe}},
            third: {{precision | safe}}
        }]
        createSeries('first', 'accuracy');
        createSeries('second', 'recall');
        createSeries('third', 'precision');

        function arrangeColumns() {
            var series = chart.series.getIndex(0);
            var w = 1 - xAxis.renderer.cellStartLocation - (1 - xAxis.renderer.cellEndLocation);
            if (series.dataItems.length > 1) {
                var x0 = xAxis.getX(series.dataItems.getIndex(0), "categoryX");
                var x1 = xAxis.getX(series.dataItems.getIndex(1), "categoryX");
                var delta = ((x1 - x0) / chart.series.length) * w;
                if (am4core.isNumber(delta)) {
                    var middle = chart.series.length / 2;
                    var newIndex = 0;
                    chart.series.each(function (series) {
                        if (!series.isHidden && !series.isHiding) {
                            series.dummyData = newIndex;
                            newIndex++;
                        }
                        else {
                            series.dummyData = chart.series.indexOf(series);
                        }
                    })
                    var visibleCount = newIndex;
                    var newMiddle = visibleCount / 2;
                    chart.series.each(function (series) {
                        var trueIndex = chart.series.indexOf(series);
                        var newIndex = series.dummyData;
                        var dx = (newIndex - trueIndex + middle - newMiddle) * delta
                        series.animate({
                            property: "dx",
                            to: dx
                        }, series.interpolationDuration, series.interpolationEasing);
                        series.bulletsContainer.animate({
                            property: "dx",
                            to: dx
                        }, series.interpolationDuration, series.interpolationEasing);
                    })
                }
            }
        }
    }); // end am4core.ready()
</script>
{% endblock %}

