<!-- ciclo for para recorrer los productos consultados creando un formulario dinamico -->
{% for product in productos %}
<li>
    <label for="id_producto_{{ product.id }}">
        <input type="checkbox" name="producto" value="{{ product.id }}" id="id_producto_{{ product.id }}">
            {{ product.producto }}
    </label>
</li>
{% endfor %}