{% extends 'watson/base.html' %}
{% block moreBody %}
<body class="bg-gradient-primary">
<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Gracias Por Preferirnos</h1>
                            </div>
                            <form method="POST" id="userForm" data-produc-url="{% url 'ajax_cargarProduct' %}" novalidate>
                                {% csrf_token %}
                                <div class="container">
                                    <table>
                                        {{form}}
                                        {{form1}}
                                        {{form2}}
                                        {{field.errors}}
                                    </table>
                                    <button class="btn btn-primary" data-toggle="modal"
                                            data-target="#exampleModal"><span
                                            class="glyphicon glyphicon-upload"
                                            style="margin-right:5px;"></span>Crear cuenta
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}
{% block JSS %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $('#id_sexo, #id_fecha_nacimiento_year').change(function () {
        const url = $('#userForm').attr("data-produc-url");
        var sexo = $('#id_sexo').val();
        var edad = $('#id_fecha_nacimiento_year').val();
        $.ajax({
            url: url,
            data: {"sexo": sexo,"edad": edad},
            success: function (data) {
                console.log(data);
                $("#id_producto").html(data);}
        });
    });
</script>
{% endblock %}